body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .block
{
   margin:50px;
   background-color: #2ecc71;
} */


.main-block 
{
    float:right;
    width:65%;
    
}

.year
{
    font-weight: 700;
    font-family: Verdana;
    font-size: 40px;
    float:right;
    padding-right: 110px;
    padding-top: 30px;
    color:#e2e8ea;
}
#month
{
    border-bottom-width: 1.5px;
    border-bottom-color: #7d8990;
    border-bottom-style: solid;
    margin: 0 auto;
    color:#a8babf;
    
} 

.highlighted-month
{
    color:#2dcc70;
    font-weight:900;
}
#week
{
    color:#a8babf;
    font-family: roboto;
}
.calendar
{
    padding-top:120px;
    padding-right: 10px;
}

#blur-date
{
    color:#a8babf;
}

#date-r1
{
    padding-bottom: 10px;
}
#date-r2
{
    padding-bottom: 10px;
}
#date-r3
{
    padding-bottom: 10px;
}
#date-r4
{
    padding-bottom: 10px;
}
#date-r5
{
    padding-bottom: 10px;
    
}
.side-bar
{
    float: left;
    background-color: #2dcc70;
    width: 30%;
    height:720px;
    color: white;
}
#navbar
{
    color: white;
}
.present-date
{
    font-weight: 700;
    font-size: 200px;
    font-family: Verdana;
    padding-left: 80px;
    margin-top:-40px;
  
}
.present-day
{
   font-family: Verdana;
   padding-left: 100px;
   border:none;
   margin-top:-70px;

}
.current-events
{
    padding-left: 30px;
    font-size: 20px;
    color:#d8e1e3;

}

li
{
    list-style: square;
}
.event-day
{
  padding-left:60px;
  padding-top:10px;
  padding-bottom: 10px;
  font-size: 20px;
  color:#d8e1e3;
}
.post-events
{
  padding-left: 30px;
  font-size:20px ;
  color:#d8e1e3;
}

.create-event
{
    font-size: 28px; 
    color:#d8e1e3;
    padding-left:30px ;

}
.plus
{
    padding-left: 170px;
    padding-bottom: 10px;
}

.side-bar hr
{
    border-bottom: 1px solid white;
    width: 90%;
    margin-top: -0px;
  
    
}
